/* your code here */
.content{
	background-color:black;
	padding:15px 20px 0px 20px;
	height:300px;
}
.logo-details{
	margin-bottom:30px;
	font-size:20px;
	font-weight:bolder;
}
.link-boxes{
	border:2px solid yellow;
	color:white;
    display:flex;
}
.link-boxes span{
	text-decoration:underline;
}
.link-boxes a{
	text-decoration:none;
	display:flex;
	color:rgb(192, 192, 192);
	
}
