/* your code here */
.content{
	background-color:black;
	padding:15px 20px 15px 20px;
	//height:300px;
}
.top{
	border:2px solid yellow;
	margin-bottom:20px;
}
.logo-details{
	margin-bottom:30px;
	font-size:20px;
	font-weight:bolder;
}
.link-boxes{
	color:white;
	margin-bottom:20px;
    display:flex;
	justify-content:space-between;
}
.link-boxes span{
	text-decoration:underline;
}
.link-boxes a{
	text-decoration:none;
	display:flex;
	color:rgb(192, 192, 192);
}
.bottom-details{
	padding:10px 50px 10px 20px;
	color:rgb(192, 192, 192);
	background-color:rgb(44, 48, 59);
	display:flex;
	align-items:center;
	justify-content:space-between;
}
