/* your code here */
.content{
	background-color:black;
	padding:15px 20px 15px 20px;
}
.logo_name{
	font-size:32px;
}
.fa {
  padding: 16px;
  font-size: 5px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
 border-radius:50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background:rgb(254, 0, 0);
  color: white;
}

.fa-instagram {
  background: rgb(226, 48, 108);
  color: white;
}
.media-icons{
	display:flex;
}
.top{
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;
}
.logo-details{
	margin-bottom:30px;
	font-size:20px;
	font-weight:bolder;
}
.link-boxes{
	color:white;
	margin-bottom:20px;
    display:flex;
	justify-content:space-between;
}
.link-boxes span{
	text-decoration:underline;
}
.link-boxes a{
	text-decoration:none;
	display:flex;
	color:rgb(192, 192, 192);
}
.bottom-details{
	padding:10px 50px 10px 20px;
	color:rgb(192, 192, 192);
	background-color:rgb(44, 48, 59);
	display:flex;
	align-items:center;
	justify-content:space-between;
}
